@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

*{box-sizing: border-box;
}

h4{text-decoration: underline white;
}

.container{  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
 }


.kepeuropa{width: 100%;
height: auto;
margin: 0;}

.kepartemishold{width: 100%;
height: auto;
margin: 0;
padding: 0;}

.kepartemislogo{width: 100%;
    height: auto;
    margin: 0;
padding: 0;}

body{margin-left: 0;
margin-right: 0;
background-image: url("kepek/hatter.jpg");
background-attachment: fixed;
background-size: cover;
font-family: 'Exo 2';
}

header{text-align: center;
color: white;
font-weight: bold;}

nav{flex-basis: 100%;
display: flex;
flex-direction: column;
align-items: center;
padding: 20px;
font-size: 18px;
}

nav a{text-decoration: none;
color: white;
padding: 15px;
font-weight: bold;
background-color: black;
border-radius: 15px;
}

nav a:hover {background-color: rgb(254, 54, 54);
color: black;
font-weight: bold;
border-radius: 15px;
}

article{flex-basis: 100%;
color: white;
margin-left: 20px;
margin-right: 20px;
margin-top: 25px;
padding: 0;
}

aside{flex-basis: 100%;
color: white;
margin-left: 20px;
margin-right: 20px;
margin-top: 25px;
text-align: center;}

ul{text-align: left;
}

.li{text-decoration: underline white;
}

.fo{flex-basis: 100%;
color: white;
margin-left: 10px;
margin-right: 10px;
margin-top: 25px;
text-align: center;
}

form{flex-basis: 100%;
    color: white;
text-align: center;
}

footer{color: white;
text-align: center;
padding: 15px;
border-top: solid 2px rgb(165, 162, 162);}

.cim {text-align: center;
color: rgb(254, 54, 54);
border-bottom: solid 2px rgb(165, 162, 162);
padding: 15px;
font-weight: bold;
}

.kuldetes{flex-basis: 100%;
}

table{margin-left: auto;
margin-right: auto;

flex-wrap: wrap;
flex-basis: 100%;
}

td{
    padding: 20px;
}

.balra{text-align: left;}

.tavcsokep{height: 80%;
width: 100%;
}

.h4{text-align: center;
}

.urtavcso{height: auto;
width: 80%;
margin: 0;
}

label.error {color: red;
margin-left: 5px;
}



.slider {
    width: 80%;
    min-width: 400px;
    margin: 100px auto;
}

.slick-slide {
    margin: 0px 5px;
}

.slick-slide img {
    width: 100%;
}

.slick-prev:before,
.slick-next:before {
    color: black;
}

.slick-slide {
    transition: all ease-in-out .3s;
    opacity: 1;
}

.slick-active {
    opacity: 1;
}

.slick-current {
    opacity: 1;
}




@media only screen and (min-width: 600px) { 
    nav {
        flex-direction: row;
        justify-content: space-around;
    }
    .fo{margin-left: 50px;
        margin-right: 50px;
    }
    .europa{
        flex-basis: 45%;
    }
    
    .kepartemishold{height: auto;
    }
    .kepartemislogo{width: 50%;
    height: auto;
    margin-left: 150px;
    }
   
}



@media only screen and (min-width: 768px) {
    form{flex-basis: 45%;
        text-align: left;
        margin-left: 5px;
        }
    .artemis{flex-basis: 40%;
    padding: 0;
    }
    .kepartemishold{width: 100%;
        height: auto;
        margin: 0;
    }
    .kepartemislogo{width: 50%;
    height: 50%;
    margin: 0;
    align-items: center;
    }
    .kuldetes{flex-basis: 100%;
    }
    .tavcso{flex-basis: 45%;
    }
   
}